/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* для указателя в темах */

@keyframes theme-pointer {
    from {
      transform: translateX(-21px);
    }
    to {
      transform: translateX(-17px);
    }
  }

/* для кнопки сердца */

.card__icon-button:focus {
  outline: none;
}
  
.card__icon-button:focus-visible {
  border: 2px var(--accent-color) solid;
  transition: border 0.3s ease;
}

/* анимации для svg-иконки сердца */

.contour {
  transition-duration: 0.3s;
}

.core {
  transition-delay: 0.03s;
} 

.main-body {
  transition-delay: 0s;
}

.heart:hover {
  .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0s;
  }

  .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s 0.05s;
  }
}

.heart:active {
  .core {
  fill: var(--icon-fill);
  transition: fill 0.3s;
  }

  .main-body {
    fill: var(--icon-fill);
    transition: fill 0.3s 0.05s;
  }
}

.like-icon.is-liked {
  .core {
    fill: var(--icon-fill);
    transition: fill 0.3s;
  }
  
  .main-body {
    fill: var(--icon-fill);
    transition: fill 0.3s 0.05s;
  }
  .contour {
  fill: var(--icon-fill);
  }

  .heart {
    animation: heart-is-liked 0.3s ease-in alternate;
    transform-origin: center;
  }

  .sparks {
    animation: sparks-is-liked 0.3s 0.3s ease-in alternate;
  }
}

@keyframes heart-is-liked {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes sparks-is-liked {
  0% {
    fill: var(--accent-color);
  }

  100% {
    fill: var(--icon-fill);
  }
}

/* для кнопки like */

.card__like-button:focus {
  outline: none;
}
  
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}
  
.card__like-button::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
  
.card__like-button:hover::before {
  transform: scaleX(1);
}