/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--color);
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weiht-content);
  background-color: var(--background-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  justify-content: center;
  gap: 24px;
  background-color: var(--background-color);
  margin-block-start: 100px;
  margin-block-end: 104px;
  margin-inline: auto;
  outline: var(--border);
  outline-offset: -2px;
  font-family: var(--accent-font);
  max-width: 700px;
}

.header__logo {
  display: grid;
  gap: 20px;
}

.header__logo-title {
  min-inline-size: 320px;
  margin-block-start: 120px;
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
}

.header__logo-text {
  padding-left: 67px;
  text-transform: uppercase;
  /* font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem); 320px */
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
}

.header__theme-menu {
  margin-inline-start: 134px;
  margin-block-end: 22px;
} 

.theme-menu__list {
  display: grid;
  gap: 10px;
  font-size: 14px;
}

.theme-menu__button {
  text-transform: uppercase;
  background-color: transparent;
  border: transparent;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible {
  background-color: var(--background-color);
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color);
  opacity: 0.6;
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  transform: translateX(-21px);
  transition: 0.3s ease;
  animation-name: theme-pointer;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.main {
 max-width: 700px;
 margin-inline: auto;
}

.card {
  display: grid;
  background-color: var(--background-color);
  outline: var(--border);
  margin-block-end: 52px;
  outline-offset: -2px;
}

.card__title {
  font-size: 18px;
  padding: 5px 10px;
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--font-weiht-title);
}

.card__content-decoration {
  display: grid;
  height: min-content;
  position: relative;
  border-bottom: var(--border);
}

.card__content-watermark {
  position: absolute;
  font-family: var(--accent-font);
  text-shadow: 
    1px 1px var(--waterm-color),
    -1px 0px var(--waterm-color),
    1px 0px var(--waterm-color),
    0px -1px var(--waterm-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
  inset-inline-end: 13px;
  inset-block-start: 24px;
  text-transform: uppercase;
}

@supports ((stroke: 1px var(--waterm-color)) or (-webkit-text-stroke: 1px var(--waterm-color))) {
  .card__content-watermark {
    stroke: 1px var(--waterm-color);
    -webkit-text-stroke: 1px var(--waterm-color);
    text-shadow: none;
  }
} 

.card__content-image {
  width: 100%;
  outline: var(--border);
  outline-offset: -2px;
}

.card__content {
  display: grid;
  gap: 26px;
  padding: 24px 28px 0px 25px;
  font-size: 18px;
  margin-block-end: 25px;
}

.button__section {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  height: 38px;
}

.button__text {
  font-family: var(--accent-font);
  color: var(--color-for-mix);
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__icon-button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: 2px transparent solid;
  margin-block-start: 1px;
}

.card__like-button {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  background-color: transparent;
  border: var(--border);
  width: 130px;
  cursor: pointer;
  position: relative;
}

.footer {
  display: grid;
  justify-content: center;
  margin-block-end: 100px;
}

.button__save {
  font-family: var(--accent-font);
  background-color: var(--background-color);
  border: var(--border);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.button__save::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__save:hover::before {
  transform: scaleX(1);
}

.button__save:focus {
  outline: none;
}

.button__save:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button__save-floppy {
  color: var(--color-for-mix);
  mix-blend-mode: difference;
  margin-inline-start: 7px;
}

.dialog {
  background-color: var(--background-color);
  border: var(--border);
  padding: 30px;
  color: var(--color);
}
 
.dialog::backdrop {
  background-color: #000;
  opacity: 75%;
} 

.dialog__content {
  display: flex;
  gap: 20px;
  margin-block-end: 30px;
}

.button__dialog-close {
  border: var(--border);
  background-color: transparent;
  padding: 12.5px 114.5px;
  text-transform: uppercase;
}

/* для кнопки закрытия в модальном окне */

.button__dialog-close:focus {
  outline: none;
}

.button__dialog-close:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button__dialog-close::before {
  content: '';
  position: absolute;
  inset-block-start: 102px;
  inset-block-end: 30px;
  inset-inline-start: 30px;
  inset-inline-end: 30px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__dialog-close:hover::before {
  transform: scaleX(1);
}

/* фильтры для изображений в карточках */

.filter_brightness {
  filter: brightness(75%);
}

.filter_contrast {
  filter: contrast(70%);
}

.filter_saturate {
  filter: saturate(50%);
}

.filter_invert {
  filter: invert(10%) contrast(90%);
}

.filter_sepia {
  filter: sepia(50%);
}

.filter_hue-rotate {
  filter: hue-rotate(-40deg);
}

.filter_opacity {
  filter: opacity(90%)
}

@media (width < 375px) {
  .header__logo-title {
    min-inline-size: 320px;
    margin-block-start: 120px;
    font-size: clamp(2.8125rem, 2.4554rem + 1.7857vw, 4.0625rem);
  }
}

@media (700px < width <= 1440px) {
.header {
  margin-block-end: 100px;
}

  .header__logo-title {
    margin-block-start: 137px;
  }

  .header__logo-text {
    padding-left: 55px;
  }

  .header__theme-menu {
    margin-inline-start: 188px;
    margin-block-end: 25px;
  }

  .card {
    margin-block-end: 50px;
  }

  .card__content {
    margin-block-end: 27px;
  }

  .card__content-watermark {
    inset-inline-end: 27px;
    inset-block-start: 29px;
  }

  .button__save {
    padding: 11px 18px;
    flex-direction: row;
    gap: 1px;
  }

  .button__save-floppy {
    margin-block-start: 4px;
    margin-inline-start: 0;
    width: 29px;
    height: 29px;
  }

  .button__dialog-floppy {
    margin-block-start: 5px;
    width: 40px;
    height: 40px;
  }
}