/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --font-weiht-normal: 400;
    --font-weiht-bold: 700;
    --background-color: #fff;
    --background-gradient: 
        repeating-linear-gradient(to left, #d3d3d3 0 2px, #0000 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #0000 2px 4px),
        linear-gradient(to bottom, #e7e7e7 10%, #1a1a1a 100%);
    --color: #000;
    --accent-color: #000;
    --color-for-mix: #fff;
    --border: 2px #000 solid;
    --waterm-color: #fff;
}

:root.theme-dark {
    --background-color: #000;
    --font-weiht-content: 465;
    --font-weiht-title: 785;
    --color: #00CC14;
    --accent-color: #00CC14;
    --background-gradient: 
        repeating-linear-gradient(to left, #000 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #007f0c 0%, #004306 100%);
    --border: 2px #00CC14 solid;
    --waterm-color: #000;
    --color-for-mix: #00CC14;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --font-weiht-content: 465;
        --font-weiht-title: 785;
        --color: #00CC14;
        --accent-color: #00CC14;
        --background-gradient: 
            repeating-linear-gradient(to left, #000 0 2px, transparent 2px 4px),
            repeating-linear-gradient(to bottom, #0003 0 2px, transparent 2px 4px),
            linear-gradient(to bottom, #007f0c 0%, #004306 100%);
        --border: 2px #00CC14 solid;
        --waterm-color: #000;
        --color-for-mix: #00CC14;
    }
} 