/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --font-weiht-normal: 400;
    --font-weiht-bold: 700;
    --background-color: #fff;
    --background-gradient: 
        repeating-linear-gradient(to left, #d3d3d3 0 2px, #0000 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #0000 2px 4px),
        linear-gradient(to bottom, #e7e7e7 10%, #1a1a1a 100%);
    --color: #000;
    --accent-color: #000;
    --color-for-mix: #fff;
    --border: 2px #000 solid;
    --waterm-color: #fff;
    --icon-fill: red;
}